RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php

Options -Indexes
AddDefaultCharset UTF-8

<FilesMatch ".\.(php)$">
	Order Deny,Allow
	Deny from all
</FilesMatch>
<Files "captcha.php">
	Order Allow,Deny
	Allow from all
</Files>

